:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
}

.formHolder {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    padding: 0 20px;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
    transition-delay: 400ms;
}

.formHolderVisible {
    opacity: 1;
    transform: translateY(0);
}

.contDiv {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.contTitle {
    font-size: 30px;
    background: -webkit-linear-gradient(45deg,var(--darkGreen),var(--darkGreen), var(--darkestGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.contPara {
    color: var(--lighterGreen);
    font-size: 15px;
}

.commentLogSign {
    padding: 20px 40px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: var(--whiteGreen);

    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    var(--altAttColor) 0%,
    var(--attColor) 100%
  );

    transition: all 300ms,;
}

.commentLogSign:hover {
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media only screen and (max-width: 1620px) {
    .contTitle {
        font-size: 25px;
    }

    .contPara {
        font-size: 13px;
    }

    .commentLogSign {
        padding: 12px 30px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1380px) {
    .contTitle {
        font-size: 20px;
    }

    .contPara {
        font-size: 10px;
    }

    .formHolder {
        padding: 0 10px;
    }

    .commentLogSign {
        padding: 10px 25px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1050px) {
    .formHolder {
        width: 80%;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }
}
