:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
    --greyGreen: #274639;
}

.cHeaderParent {
    padding: 10em 3rem;
    display: flex;
    flex-direction: column;
    gap: 5em;

    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    var(--whiteGreen) 0%,
    var(--moreLighterGreen) 100%
  );

}

.cHolder {
    display: grid;
    gap: 3rem;
    grid-auto-flow: column;
    grid-auto-columns: 36%;
    align-items: center;
    padding: 50px 0;
    
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.headerText {
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
    transition-delay: 300ms;

    background: -webkit-linear-gradient(45deg,var(--greyGreen),var(--darkGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerTextVisible {
    opacity: 1;
    transform: translateY(0);
}

.headerTextMobile {
    display: none;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
    transition-delay: 300ms;

    background: -webkit-linear-gradient(45deg,var(--greyGreen),var(--darkGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: none 10px;
}

.headerTextMobileVisible {
    opacity: 1;
    transform: translateY(0);
}

.commentParent {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    var(--greyGreen) 0%,
    var(--darkestGreen) 100%
  );
    padding: 40px;
    border-radius: 60px;

    gap: 20px;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
    transition-delay: 200ms;
}

.commentParentVisible {
    opacity: 1;
    transform: translateY(0);
}

.userInfo {
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 20px;
}

.propic {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background: url('../images/smiling-man_1098-15443.jpg') center/cover; 
}

.nameRel {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nameText {
    font-size: 23px;
    color: var(--whiteGreen);
}

.relationTo {
    font-size: 15px;
    color: var(--moreLighterGreen);
}

.numrating {
    color: var(--moreLighterGreen);
}

.rating {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;
}

.barrating {
    height: 5px;
    width: 8em;

    background-color: var(--greyGreen);
    border-radius: 60px;
}

.trueRating {
    height: 100%;
    width: 80%;

    background-color: var(--attColor);
    border: none;
    overflow: hidden;
    border-radius: 60px;
}

.userMessage {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

.textField, .pubDate {
    color: var(--moreLighterGreen);
}

.textField {
    text-align: justify;
}

.andiText {
    margin-top: 30px;
    font-size: 8px;
    text-align: center;
    color: var(--lighterGreen);
}

.cDataHolder {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1810px) {
    .headerText {
        font-size: 3.9rem;
    }
}

@media only screen and (max-width: 1620px) {
    .headerText {
        font-size: 3.5rem;
    }
    
    .cHolder {
        gap: 20px;
    }

    .propic {
        width: 65px;
        height: 65px;
    }

    .nameText {
        font-size: 16px;
    }

    .relationTo {
        font-size: 14px;
    }

    .numrating {
        font-size: 13px;
    }

    .barrating {
        height: 4px;
    }

    .textField {
        width: 100%;
        font-size: 12px;
    }

    .pubDate {
        font-size: 13px;
    }

    .cHeaderParent {
        padding: 8em 3rem;
    }
}

@media only screen and (max-width: 1380px) {
    .headerText {
        font-size: 2.7rem;
    }
    
    .cHolder {
        gap: 2rem;
        grid-auto-columns: 40%;
    }

    .commentParent {
        padding: 20px 40px;
        border-radius: 40px;
    }
    
    .propic {
        width: 50px;
        height: 50px;
    }

    .nameText {
        font-size: 13px;
    }

    .relationTo {
        font-size: 12px;
    }

    .numrating {
        font-size: 13px;
    }

    .barrating {
        height: 3px;
        width: 5em;
    }

    .textField {
        width: 110%;
        font-size: 11px;
    }

    .pubDate {
        font-size: 12px;
    }

    .rating {
        gap: 3px;
    }

    .cHeaderParent {
        padding: 5em 3rem;
    }
}

@media only screen and (max-width: 1050px) {
    .cHeaderParent {
        gap: 30px;
    }

    .headerText {
        display: none;
    }
    
    .headerTextMobile {
        display: inline;
        font-size: 3em;
        margin: auto;
    }

    .cHolder {
        gap: 1rem;
        grid-auto-columns: 56%;
    }

    .cDataHolder {
        margin-top: 20px;
        gap: 4em;
        flex-direction: column;
        align-items: center;
    }

    .andiText {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    .cHeaderParent {
        gap: 10px;
    }
    
    .headerTextMobile {
        font-size: 2.2em;
    }

    .cHolder {
        grid-auto-columns: 75%;
    }
}

@media only screen and (max-width: 640px) {

}
