:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #d57f3c;
    --greyGreen: #274639;
}

.fsParent {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.fsTitle {
    background: -webkit-linear-gradient(45deg,var(--greyGreen),var(--darkGreen), var(--darkestGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
}

.partsContainer {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

/* imageLayer */

.imagePart {
    width: 30em;
}

/* END imageLayer */

.selectorPart {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
}

.selBtn {
    width: 96%;
    padding: 10px;
    border-radius: 12px;

    font-size: 30px;
    color: var(--whiteGreen);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selBtn p, .bi-arrow-down-short {
    background: -webkit-linear-gradient(45deg,var(--whiteGreen), var(--moreLighterGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.bi-arrow-down-short{
    display: flex;
    justify-content: center;
}

.arrowOne, .arrowTwo, .arrowThree {
    transition: transform 0.3s;
}

.rotate180 {
    transform: rotate(180deg);
}

.selOneBox, .selTwoBox, .selThreeBox {
    display: flex;
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    opacity: 0;
    gap: 20px;
    transition: max-height 0.6s, opacity 0.5s;
}

.selOneBoxActive, .selTwoBoxActive, .selThreeBoxActive {
    max-height: 10.5rem;
    opacity: 1;
    transition: max-height 0.6s, opacity 0.5s;
}
 
.selOneAll, .selTwoAll, .selThreeAll {
    border: var(--greyGreen) solid 3px;
    border-radius: 20px;
    padding: 12px;
    width: 100%; 
    background: -webkit-linear-gradient(45deg,var(--greyGreen), var(--darkGreen), var(--darkestGreen));
}

.selOneTxt {
    width: 95%;
    color: var(--moreLighterGreen);
}

.selectorBtn {
    width: fit-content;
    padding: 10px 40px;
    margin: 10px;

    background: -webkit-linear-gradient(45deg,var(--attColor), var(--altAttColor));
    border: none;
    border-radius: 12px;

    color: var(--whiteGreen);
    font-size: 20px;
    transition: all 0.3s;
}

.selectorBtn:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1620px) {
    .fsTitle {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1599px) {
    .selOneTxt {
        width: 95%;
        font-size: 13.5px;
    }

    .imagePart {
        width: 20em;
    }

    .selOneAll, .selTwoAll, .selThreeAll {
        padding: 5px;
    }

    .selTitle {
        font-size: 24px;
    }

    .bi-arrow-down-short {
        height: 100%;
        
        display: flex;
        text-align: center;
    }

    .selectorBtn {
        font-size: 15px;
    }

    .fsTitle {
        font-size: 3em;
    }
}

@media only screen and (max-width: 1060px) {
    .imagePart {
        width: 18em;
    }
    
    .selOneTxt {
        font-size: 12px;
    }

    .selTitle {
        font-size: 20px;
    }

    .bi-arrow-down-short {
        height: 100%;
        
        display: flex;
        text-align: center;
    }

    .selOneBox, .selTwoBox, .selThreeBox {
        gap: 10px;
    }

    .selectorBtn {
        font-size: 13px;
    }
}

@media only screen and (max-width: 840px) {
    .imagePart {
        width: 14em;
    }
    
    .selOneTxt {
        font-size: 10px;
    }

    .selTitle {
        font-size: 15px;
    }

    .bi-arrow-down-short {
        height: 100%;
        
        display: flex;
        text-align: center;
    }

    .selOneBox, .selTwoBox, .selThreeBox {
        gap: 10px;
    }

    .selectorBtn {
        font-size: 13px;
    }
}

@media only screen and (max-width: 660px) {
    .imagePart {
        width: 30%;
    }
    .selectorPart {
        width: 60%;
    }

    .selOneTxt {
        font-size: 12px;
    }

    .selTitle {
        font-size: 18px;
    }

    .selectorBtn {
        font-size: 13px;
    }
}

