:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
}

.header {
    background-color: var(--darkestGreen);
}

.linkContainer {
    width: 30%;
    height: auto;
    margin: auto;
    
    display: flex;

    justify-content: space-around;
}

h3 a{
    color: var(--moreLighterGreen);
    font-weight: 300;
    transition: color 0.3s ease;
}

h3 a:hover{
    color: var(--whiteGreen);
}

@media only screen and (max-width: 1620px) {
    .linkContainer {
        width: 40%;
    }
}

@media only screen and (max-width: 1050px) {
    .linkContainer {
        width: 80%;
    }
}