:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
}

.parent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 10% 0;

    background: linear-gradient(180deg, var(--darkestGreen), var(--darkGreen));
}

.intro {
    display: flex;
    flex-direction: column;
    width: 40%;

    margin-left: 15vw;
}

.intro > * {
    margin-bottom: -0.5em;
    padding-bottom: 0.5em; 
}

h1 {
    font-size: 5em;
}

.ttle {
    font-size: 5em;
    color: var(--whiteGreen);
}

span {
    color: var(--attColor);
}

p {
    font-size: 1em;
    color: var(--moreLighterGreen);
    margin: 0 0;
}

.portrait {
    width: 50vh;
    height: 50vh;
    background-color: var(--lighterGreen);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-right:15vw;
}

.portrait img {
    margin-top: 100px;
    max-width: 120%;
    max-height: 120%;
    width: auto; 
    height: auto; 
}

.social {
    display: flex;
    width: 80%;
    gap: 50px;
}

.svg {
    display: flex;
    flex-direction: column;
    color: var(--moreLighterGreen);
}

.links {
    transition: transform 0.3s ease, color 0.3s;
}

.links:hover {
    color: var(--attColor);
    transform: scale(1.1);
}

@media only screen and (max-width: 1711px) {
    .ttle {
        font-size: 4rem;
    }

    .portrait {
        width: 45vh;
        height: 45vh;
        margin-right:13vw;
    }

    .portrait img {
        margin-top: 90px;
        max-width: 120%;
        max-height: 120%;
        width: auto; 
        height: auto; 
    }
    
    .social {
        width: 80%;
        gap: 30px;
    }

    .sectionParagraph {
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px) {
    .ttle {
        font-size: 4rem;
    }

    .portrait {
        width: 40vh;
        height: 40vh;
        margin-right:13vw;
    }

    .portrait img {
        margin-top: 90px;
        max-width: 110%;
        max-height: 110%;
        width: auto; 
        height: auto; 
    }
}

@media only screen and (max-width: 1380px) {
    .ttle {
        font-size: 3.5rem;
    }

    .portrait {
        width: 35vh;
        height: 35vh;
    }
}

@media only screen and (max-width: 1200px) {

    .social {
        flex-direction: column;
    }

    .svg {
        flex-direction: row;
        gap: 30px;
    }

    .ttle {
        font-size: 3rem;
    }

    .sectionParagraph {
        font-size: 12px;
    }

    .portrait {
        width: 30vh;
        height: 30vh;
    }
}

@media only screen and (max-width: 1050px) {
    .parent {
        flex-direction: column-reverse;
    }

    .portrait {
        margin: 0;

        width: 40vh;
        height: 40vh;
    }

    .intro {
        margin: 0;
        width: 70%;
        text-align: center;
        align-items: center;
    }

    .sectionParagraph {
        font-size: 14px;
    }

    .svg {
        justify-content: center;
    }
}

@media only screen and (max-width: 840px) {
    .intro {
        gap: 20px;
    }
}

@media only screen and (max-width: 560px) {
    .portrait {
        width: 30vh;
        height: 30vh;
    }

    .ttle {
        font-size: 2.5rem;
    }

    .sectionParagraph {
        font-size: 13px;
        width: 90%;
    }

    .social {
        justify-content: center;
        align-items: center;
    }
}
