:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
}

.skillsection {
    display: flex;
    flex-direction: column;
    text-align: center;
    font: var(--attColor);
}

.skillContainer {
    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    var(--whiteGreen) 0%,
    var(--moreLighterGreen) 100%
  );

  padding-bottom: 6em;
}

.psL {
    background: -webkit-linear-gradient(45deg,var(--darkGreen),var(--darkGreen), var(--darkestGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 6em;
}

.skillList {
    width: 100%;
}

.skillEntry {
    width: 80%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 60px;

    background: linear-gradient(45deg, var(--darkGreen), var(--darkestGreen));

    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}

.showedEntry {
    opacity: 1;
    transform: translateY(0);
}

.skillEntry img{
    width: fit-content;
}

.skillInfo {
    width: 80%;
}

.skillInfo p {
    font-size: 30px;
    word-wrap: break-word;
    text-align: start;
    color: var(--moreLighterGreen);
}

.skillInfo h2 {
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: start;
    color: var(--moreLighterGreen);
}

.skillStats {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    gap: 20px;
}

/* Skill Bar */

.skillBar {
    width: 80%;
    height: 20px;
    background-color: var(--darkestGreen);
    border-radius: 60px;
}

.hiddenBar {
    height: 100%;
    width: 0;
    background: linear-gradient(45deg, var(--attColor), var(--altAttColor));
    border-radius: 60px;

    transition: all 0.5s ease-out;
}

.visibleBar {
    width: 50%;
}

.skillStats p {
    width: 20%;
}

/* SkillBar */


@media only screen and (max-width: 1620px) {
    .psL {
        font-size: 4rem;
    }

    .skillEntry {
        width: 70%;
        gap: 50px;
        justify-content: center;
    }

    .skillInfo h2 {
        font-size: 2rem;
    }

    .skillInfo p {
        font-size: 19px;
    }

    .skillEntry img{
        width: 10rem;
    }

    .skillBar {
        height: 10px;
    }
}

@media only screen and (max-width: 1380px) {
    .psL {
        font-size: 4rem;
    }

    .skillEntry {
        width: 70%;
        gap: 30px;
        border-radius: 45px;
    }

    .skillInfo h2 {
        font-size: 1.8rem;
    }

    .skillInfo p {
        font-size: 15px;
    }

    .skillEntry img{
        width: 8rem;
    }

    .skillBar {
        height: 6px;
    }

    .skillStats {
        margin-top: 1em;
    }
    
}

@media only screen and (max-width: 1050px) {
    .psL {
        font-size: 4rem;
    }

    .skillEntry {
        width: 70%;
        gap: 30px;
        border-radius: 35px;
    }

    .skillInfo h2 {
        font-size: 1.6rem;
    }

    .skillInfo p {
        font-size: 12px;
    }

    .skillEntry img{
        width: 6rem;
    }

    .skillBar {
        height: 5px;
    }

    .skillStats {
        margin-top: 0.5em;
    }

    .psL {
        font-size: 3em;
    }

    .skillContainer{
        padding-bottom: 3em;
    }
}

@media only screen and (max-width: 810px) {
    .psL {
        font-size: 2.7rem;
    }

    .skillEntry {
        width: 75%;
        gap: 30px;
        border-radius: 30px;
    }

    .skillInfo h2 {
        font-size: 1.4rem;
    }

    .skillInfo p {
        font-size: 11px;
    }

    .skillEntry img{
        width: 5rem;
    }
}

@media only screen and (max-width: 690px) {
    .psL {
        font-size: 2.5rem;
    }

    .skillEntry {
        width: 80%;
        border-radius: 25px;
        padding: 20px 30px;
    }

    .skillInfo h2 {
        font-size: 1.2rem;
    }

    .skillInfo p {
        font-size: 10px;
    }

    .skillEntry img{
        width: 4.5rem;
    }

    .skillBar {
        height: 4px;
    }
}

@media only screen and (max-width: 490px) {
    .psL {
        padding: 20px 0 10px 0;
        font-size: 2rem;
    }

    .skillEntry {
        border-radius: 18px;
        gap: 15px;
        width: 75%;
        margin: 10px auto;
        padding: 10px 30px;
    }

    .skillEntry img{
        width: 3.5rem;
    }

    .skillInfo {
        gap: 0px;
    }

    .skillInfo h2 {
        font-size: 1rem;
    }

    .skillInfo p {
        font-size: 9px;
    }

    .skillStats {
        margin-top: 2px;
    }
}