:root {
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
}

.skillsection {
    text-align: center;
    font: var(--attColor);
}

.skillsection h1 {
    background: -webkit-linear-gradient(45deg,var(--darkGreen),var(--darkGreen), var(--darkestGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 6em;
}

.skillList {
    margin: auto;
    width: 100%
}

.skillEntry {
    width: 80%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 60px;

    background: linear-gradient(45deg, var(--darkGreen), var(--darkestGreen));

    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}

.showedEntry {
    opacity: 1;
    transform: translateY(0);
}

.skillEntry img{
    width: fit-content;
}

.skillInfo {
    width: 80%;
}

.skillInfo p {
    font-size: 30px;
    word-wrap: break-word;
    text-align: start;
    color: var(--moreLighterGreen);
}

.skillInfo h2 {
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: start;
    color: var(--moreLighterGreen);
}

.skillStats {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    gap: 20px;
}

/* Skill Bar */

.skillBar {
    width: 80%;
    height: 20px;
    background-color: var(--darkestGreen);
    border-radius: 60px;
}

.hiddenBar {
    height: 100%;
    width: 0;
    background: linear-gradient(45deg,var(--attColor), var(--altAttColor));
    border-radius: 60px;

    transition: all 0.3s;
}

.visibleBar {
    width: 50%;
}

.skillStats p {
    width: 20%;
}

/* SkillBar */
