:root {
    --blackGreen: #040e0a;
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
}

.cardMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px   ;
}

.rpd {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.rpdImg {
    width: 14em;
    height: 14em; 
    border-radius: 50%; 
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.rpd p {
    font-size: 2em;
    color: var(--darkGreen);
}

.piName {
    font-size: 4em;
    text-align: center;
    color: var(--darkGreen);
}

.cardMain hr {
    border: 1px solid var(--darkGreen);
    width: 60%;
}

.piDescription {
    text-align: center;
    font-size: 22px;
    margin: auto;
    width: 60%;
    color: var(--darkGreen);
}

.starHolder {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2px;
}

@media only screen and (max-width: 1600px) {
    .rpd {
        width: 60%;
    }
    .rpdImg {
        width: 12em;
        height: 12em; 
    }
    .rpd p {
        font-size: 1.5em;
    }
    .piName {
        font-size: 3em;
    }
    .cardMain hr {
        width: 60%;
    }
    .piDescription {
        font-size: 20px;
        width: 60%;
    }
}

@media only screen and (max-width: 1430px) {
    .rpdImg {
        width: 10em;
        height: 10em; 
    }
    .rpd p {
        font-size: 1.3em;
    }
    .piName {
        font-size: 2.8em;
    }
    .cardMain hr {
        width: 55%;
    }
    .piDescription {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1100px) {
    .rpd {
        width: 70%;
    }
    .rpdImg {
        width: 8em;
        height: 8em; 
    }
    .piName {
        font-size: 2.2em;
    }
    .piDescription {
        font-size: 17px;
        width: 75%;
    }
}

@media only screen and (max-width: 945px) {
    .piDescription {
        font-size: 15px;
        width: 70%;
    }
}

@media only screen and (max-width: 745px) {
    .rpdImg {
        width: 6em;
        height: 6em; 
    }
    .rpd p {
        font-size: 1em;
    }
    .piName {
        font-size: 2em;
    }
    .cardMain hr {
        width: 65%;
    }
    .piDescription {
        font-size: 12px;
    }
}

@media only screen and (max-width: 550px) {
    .rpd {
        width: 90%;
    }
    .rpdImg {
        width: 7em;
        height: 7em; 
    }
    .cardMain hr {
        width: 85%;
    }
}

@media only screen and (max-width: 490px) {
    .piDescription {
        font-size: 10px;
    }
}

@media only screen and (max-width: 390px) {
    .rpdImg {
        width: 5em;
        height: 5em; 
    }
    .rpd p {
        font-size: 0.8em;
    }
    .piName {
        font-size: 1.5em;
    }
}


