:root {
    --blackGreen: #040e0a;
    --darkestGreen: #0b241b;
    --darkGreen: #12372A;
    --lighterGreen: #436850;
    --moreLighterGreen: #ADBC9F;
    --whiteGreen: #FBFADA;
    --attColor: #e06303;
    --altAttColor: #df7625;
}

.persoMain {
    align-items: center;
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(45deg, var(--blackGreen), var(--darkestGreen) 50%, var(--darkGreen));
}

.persoMainContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.imgSigHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.profilePictureHolder {
    width: 35vh;
    height: 35vh;
    background: linear-gradient(var(--blackGreen), var(--darkestGreen));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profilePicture {
    margin-top: 60px;
    max-width: 120%;
    max-height: 120%;
    width: auto; 
    height: auto; 
}

.signature {
    width: 20em;
    position: relative;
    top: -150px;
    left: 80px;
}

.p1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: -7em;
}

.p1 p {
    font-size: 18px;
    width: 20em;
    text-align: justify;
}

@media only screen and (max-width: 1430px) {
    .persoMainContent {
        position: relative;
        top: 8em;        
    }

    .profilePictureHolder {
        width: 30vh;
        height: 30vh;
    }

    .signature {
        width: 18em;
    }

    .p1 {
        gap: 35px;
        top: -7em;
    }

    .p1 p {
        font-size: 16px;
        width: 18em;
    }
}

@media only screen and (max-width: 1100px) {
    .persoMainContent {
        position: relative;
        top: 0em;        
    }

    .profilePictureHolder {
        width: 30vh;
        height: 30vh;
    }

    .signature {
        width: 18em;
    }

    .p1 {
        flex-direction: column;
        margin: auto;
      
        gap: 35px;
        top: -8em;
    }

    .p1 p {
        font-size: 17px;
        width: 24em;
    }
}

@media only screen and (max-width: 945px) {
    .persoMainContent {
        position: relative;
        top: 2em;        
    }

    .profilePictureHolder {
        width: 25vh;
        height: 25vh;
    }

    .signature {
        top: -7em;
        width: 14em;
    }

    .p1 {
        flex-direction: column;
        margin: auto;
      
        gap: 35px;
        top: -5em;
    }

    .p1 p {
        font-size: 16px;
        width: 23em;
    }
}

@media only screen and (max-width: 750px) {
    .persoMainContent {
        position: relative;
        top: 2em;        
    }

    .profilePictureHolder {
        width: 25vh;
        height: 25vh;
    }

    .signature {
        top: -7em;
        width: 14em;
    }

    .p1 {
        flex-direction: column;
        margin: auto;
      
        gap: 35px;
        top: -5em;
    }

    .p1 p {
        font-size: 16px;
        width: 23em;
    }
}

@media only screen and (max-width: 550px) {
    .persoMainContent {
        width: 70%;
        top: 6em;
    }

    .profilePictureHolder {
        width: 20vh;
        height: 20vh;
    }

    .signature {
        top: -7em;
        width: 12em;
    }

    .p1 p {
        margin: auto;
        font-size: 16px;
        width: 100%;
    }
}

@media only screen and (max-width: 490px) {
    .p1 p {
        margin: auto;
        font-size: 15px;
        width: 100%;
    }
}

@media only screen and (max-width: 390px) {
    .persoMainContent {
        width: 70%;
        top: 3em;
    }

    .p1 p {
        margin: auto;
        font-size: 14px;
        width: 100%;
    }
}